@font-face {
    font-family: 'Computer Modern Sans';
    src: url('/fonts/cmunss.eot');
    src: url('/fonts/cmunss.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cmunss.woff') format('woff'),
         url('/fonts/cmunss.ttf') format('truetype'),
         url('/fonts/cmunss.svg#cmunss') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Computer Modern Sans';
    src: url('/fonts/cmunsx.eot');
    src: url('/fonts/cmunsx.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cmunsx.woff') format('woff'),
         url('/fonts/cmunsx.ttf') format('truetype'),
         url('/fonts/cmunsx.svg#cmunsx') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Computer Modern Sans';
    src: url('/fonts/cmunsi.eot');
    src: url('/fonts/cmunsi.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cmunsi.woff') format('woff'),
         url('/fonts/cmunsi.ttf') format('truetype'),
         url('/fonts/cmunsi.svg#cmunsi') format('svg');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'Computer Modern Sans';
    src: url('/fonts/cmunso.eot');
    src: url('/fonts/cmunso.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cmunso.woff') format('woff'),
         url('/fonts/cmunso.ttf') format('truetype'),
         url('/fonts/cmunso.svg#cmunso') format('svg');
    font-weight: bold;
    font-style: italic;
}


@font-face {
    font-family: 'Computer Modern Typewriter Light';
    src: url('/fonts/cmunbtl.eot');
    src: url('/fonts/cmunbtl.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cmunbtl.woff') format('woff'),
         url('/fonts/cmunbtl.ttf') format('truetype'),
         url('/fonts/cmunbtl.svg#cmuntt') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Computer Modern Typewriter Light';
    src: url('/fonts/cmunbto.eot');
    src: url('/fonts/cmunbto.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cmunbto.woff') format('woff'),
         url('/fonts/cmunbto.ttf') format('truetype'),
         url('/fonts/cmunbto.svg#cmunbto') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Computer Modern Serif';
    src: url('/fonts/cmunrm.eot');
    src: url('/fonts/cmunrm.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cmunrm.woff') format('woff'),
         url('/fonts/cmunrm.ttf') format('truetype'),
         url('/fonts/cmunrm.svg#cmunrm') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Computer Modern Serif';
    src: url('/fonts/cmunbx.eot');
    src: url('/fonts/cmunbx.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cmunbx.woff') format('woff'),
         url('/fonts/cmunbx.ttf') format('truetype'),
         url('/fonts/cmunbx.svg#cmunbx') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Computer Modern Serif';
    src: url('/fonts/cmunti.eot');
    src: url('/fonts/cmunti.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cmunti.woff') format('woff'),
         url('/fonts/cmunti.ttf') format('truetype'),
         url('/fonts/cmunti.svg#cmunti') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Computer Modern Serif';
    src: url('/fonts/cmunbi.eot');
    src: url('/fonts/cmunbi.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cmunbi.woff') format('woff'),
         url('/fonts/cmunbi.ttf') format('truetype'),
         url('/fonts/cmunbi.svg#cmunbi') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Computer Modern Bright';
    src: url('/fonts/cmunbmr.eot');
    src: url('/fonts/cmunbmr.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cmunbmr.woff') format('woff'),
         url('/fonts/cmunbmr.ttf') format('truetype'),
         url('/fonts/cmunbmr.svg#cmunbmr') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Computer Modern Bright';
    src: url('/fonts/cmunbbx.eot');
    src: url('/fonts/cmunbbx.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cmunbbx.woff') format('woff'),
         url('/fonts/cmunbbx.ttf') format('truetype'),
         url('/fonts/cmunbbx.svg#cmunbbx') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Computer Modern Bright';
    src: url('/fonts/cmunbmo.eot');
    src: url('/fonts/cmunbmo.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cmunbmo.woff') format('woff'),
         url('/fonts/cmunbmo.ttf') format('truetype'),
         url('/fonts/cmunbmo.svg#cmunbmo') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Computer Modern Bright';
    src: url('/fonts/cmunbxo.eot');
    src: url('/fonts/cmunbxo.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cmunbxo.woff') format('woff'),
         url('/fonts/cmunbxo.ttf') format('truetype'),
         url('/fonts/cmunbxo.svg#cmunbxo') format('svg');
    font-weight: bold;
    font-style: italic;
}

body {
    color: black;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 600px;
    font-family: "Computer Modern Bright", sans-serif;
}

code {
    font-family: "Computer Modern Typewriter Light", fixed;
}

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}
